In [1]:
import pandas as pd

In [1]:
print(3)

3

In [2]:
data = np.array(['g', 'e', 'e', 'k', 's'])
 
ser = pd.Series(data)
print(ser)

NameError: name 'np' is not defined

In [4]:
import pandas as pd
import numpy as np 
data = np.array(['g', 'e', 'e', 'k', 's'])
 
ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [5]:
l = [1,2,3,4]
ser = pd.Series(l)
print(ser)

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
import pandas as pd
  
# initialize list of lists
data = [['tom', 10], ['nick', 15], ['juli', 14]]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age'])
  
# print dataframe.
print(df

SyntaxError: invalid syntax (258435891.py, line 4)

In [2]:
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14